.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
neg_construction_cogsci2021.log
Negative_Constructions.Rproj
neg_construction_article.log
neg_construction_article.ttt
neg_construction_article.fff
neg_construction_article_cache/
neg_construction_article_files/